.taskWrapper {
    border: 2px solid black;
    width: 250px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.taskWrapper p {
    word-break: break-all;
    width: 200px;
}

.deleteButton {
    display: block;
    margin-left: 10px;
    background: url("../../../src/assets/ic_delete.png") no-repeat center center / cover;
    width: 30px;
    height: 30px;
    border: none;
}
